<section id="contact" class="py-5">
    <div class="container">
        <h2>Contact Me</h2>
        <p class="mb-4">Feel free to reach out to me directly using the form below:</p>
        {% if messages %}
            <div>
                {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.name.label_tag }} {{ form.name }}
                {% if form.name.errors %}<div class="text-danger">{{ form.name.errors.0 }}</div>{% endif %}
            </div>
            <div class="mb-3">
                {{ form.email.label_tag }} {{ form.email }}
                {% if form.name.errors %}<div class="text-danger">{{ form.email.errors.0 }}</div>{% endif %}
            </div>
            <div class="mb-3">
                {{ form.message.label_tag }} {{ form.message }}
                {% if form.name.errors %}<div class="text-danger">{{ form.message.errors.0 }}</div>{% endif %}
            </div>
            <button type="submit" id="submit-button" class="btn btn-primary">Send Message</button>
        </form>
    </section>
    <script>
document
  .querySelector("#contact-form")
  .addEventListener("submit", function (e) {
    const button = document.querySelector("#submit-button");
    button.disabled = true;
    button.innerText = "Sending...";
  });
    </script>
